.content {
  padding: 48px 0 80px;
}

.backLink {
  display: inline-block;
  margin-bottom: 12px;

  color: var(--main);
  font-weight: 500;
  line-height: 1.5;

  transition: color 300ms ease-in-out;
}

.backLink:hover,
.backLink:focus-visible {
  color: var(--button);
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.infoContainer {
  margin-bottom: 16px;
}

.priceContainer {
  margin-bottom: 28px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 28px;
}

.galleryItem {
  flex: 0 0 100%;
  max-width: 100%;
}

.galleryImage {
  width: 100%;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .gallery {
    gap: 48px;
    justify-content: start;
  }

  .galleryItem {
    flex: 0 0 292px;
    max-width: 292px;
  }
}

.description {
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 60px;
}

.subNav {
  border-bottom: 1px solid var(--light-grey);

  margin-bottom: 44px;

  display: flex;
  gap: 40px;
  align-items: center;
}

.subNavLink {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  text-decoration: none;
  padding-bottom: 24px;

  transition: color 300ms ease-in-out;
}

.subNavLink:hover,
.subNavLink:focus-visible {
  color: var(--button);
}

.subNavLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-color: var(--button);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease;
}

.active::after {
  transform: scaleX(1);
}

.bottomContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.left,
.right {
  min-width: 0;
}

@media (min-width: 768px) {
  .bottomContent {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .bottomContent {
    grid-template-columns: 631px 641px;
  }
}
